<!-- Onda -->
<div class="onda-footer">
    <img src="./assets/img/onda-footer.svg" alt="">
</div>

<footer id="footer">
    <div class="footer-container">
        <img
            src="../assets/img/logo footer.png"
            alt="Conecta Gerações"
            class="logo-footer"
        >
        <h3 class="footer-tagline">Aproximando histórias e conectando gerações</h3>
        <hr>
        <div class="footer-links">
            <a href="#">SAC</a>
            <a href="../pages/centralDePoliticas.html">Central de Políticas</a>
        </div>
        <p class="footer-copy">
            © 2026 Conecta Gerações. Todos os direitos reservados.
        </p>
    </div>

</footer>