<header class="header">
  <section class="container-header">
      <div class="img">
        <a href="#">
          <img src="/assets/img/logo Conecta Gerações.png" alt="logo"/>
        </a>
    </div>
        <div class="navbar">
        <nav>
              <a href="/index.html"><button >Início</button></a>
              <a href="/index.html#tutoriais"><button>Passo a passo</button></a>
              <a href="#"><button >Segurança Digital </button></a>
              <a href="/index.html#footer"><button>Parcerias</button></a>
        </nav>
        </div>
  </section>
</header>