@import url("/css/base/global.css");

:root {
  --roxo-principal: #6040ce;
  --roxo-escuro: #4d2fb7;
  --fundo: #f5f6fa;
  --texto: #1f2937;
}

.cartao-topico {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
}

.conteudo-topico {
  background: #fff;
  border-radius: 24px;
  padding: 28px 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  width: 100%;
}

.titulo-container h1 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--texto);
  line-height: 1.3;
  letter-spacing: 5px;
}


.linha-titulo {
    display: block;
    width: 70px;
    height: 4px;
    background-color: #673de6;
    border-radius: 10px;
    margin-bottom: 80px;
}

.descricao-topico {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #444;
  max-width: 580px;
}

.botao-comecar {
  margin: 40px 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  padding: 16px 26px;
  background: var(--roxo-principal);
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 14px;
  box-shadow: 0 8px 18px rgba(96, 64, 206, 0.35);
  transition: 0.25s ease;
}

.botao-comecar:hover {
  background: var(--roxo-escuro);
  transform: translateY(-2px);
}

.play-icon {
  font-size: 0.85rem;
}

.imagem-topico {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 260px;
}

.circulo-decorativo {
  display: block;
  width: 45%;
  position: relative;
  aspect-ratio: 4 / 5;
  background-image: url('../../assets/img/img-seguranca/0fundoIncio001.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
  
}

.imagem-idosa {
  position: absolute;
  height: auto;
  width: 350px;
}

/* ===== Tablet ===== */

@media (min-width: 600px) {

  .conteudo-topico {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
  }

  .titulo-container h1 {
    font-size: 2rem;
  }

  .descricao-topico {
    font-size: 1.1rem;
  }

  .imagem-topico {
    min-height: 300px;
  }

  .imagem-idosa {
    width: 260px;
  }

  .circulo-decorativo {
    width: 260px;
    height: 260px;
  }

}



/* ===== Desktop ===== */

@media (min-width: 993px) {
  .cartao-topico {
    margin: 40px auto;
  }



  .conteudo-topico {
    padding: 56px 60px;
  }



  .imagem-idosa {
    width: 320px;
  }



  .circulo-decorativo {
    width: 320px;
    height: 320px;
  }

}

