@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url("./reset.css");
@import url("./variables.css");
body{

    font-family:'Ubuntu',sans-serif;
    overflow-x:hidden;
    background: linear-gradient(180deg, #FFFFFF,#F7F5FF,#FFFFFF);
}

/* Funciona em Chrome, Edge, Opera e Safari */
/*barra de scroll lateral*/
/* Chrome, Edge e Safari */
::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#F5F3FF;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(
        180deg,
        #9B8CFF,
        #6C63FF
    );
    border-radius:50px;
    border:2px solid #F5F3FF;
    transition:.3s;
}

::-webkit-scrollbar-thumb:hover{
    background:linear-gradient(
        180deg,
        #7D70FF,
        #554EE8
    );
}

/* Firefox */
html{
    scrollbar-width:auto;
    scrollbar-color:#8577B4 #F5F3FF;
}