@import url("/css/base/global.css");

.card-principal{
    background:#FFFFFF;
    border-radius:8px;
    padding:30px;
    box-shadow:0 4px 15px rgba(0,0,0,.4);
    max-width: 1200px;
    margin: 0 auto;
    max-width: 1200px;

}

/* SETA */
.seta{
    width:18px;
    height:auto;
    opacity:.55;
    transition:.3s;
}

/* Botão fechar */
.btn-fecha {
    position: absolute;
    top: 8px;
    right: 18px;
    border: none;
    background: transparent;
    font-size: 42px;
    font-weight: 500;
    line-height: 1;
    color: #3b3b3b;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.2s ease;
}

.btn-fechar:hover {
    transform: scale(1.08);
}


/* CARDS */

.lista-golpes{
    display:flex;
    flex-direction:column;
    gap:25px;
}

/* CARD */

.golpe-whatsapp{
    margin-top: 20px;
    background:#FFFFFF;
    border-radius:18px;
    padding:28px 35px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 6px 18px rgba(0,0,0,.4);
    transition:.3s;
    font-weight: 600;
}

.golpe-whatsapp:hover{
    transform:translateY(-5px);
    box-shadow:0 12px 25px rgba(0,0,0,.18);
}

.golpe-whatsapp span{
    color:#3d3d3d;
    font-size:2rem;
    font-weight:600;
}

